<nav class="navbar">
    <img src="/images/logo.png" alt="PixelWood Logo" class="logo" height="80">
    <h1>Galería de imágenes</h1>
    <ul>
        <li><a href="/"><i class="fas fa-home"></i></a></li>
        <li><a href="/addImage"><i class="fas fa-image"></i></a></li>
        <li><a href="/deleteImage"><i class="fas fa-trash"></i></a></li>
    </ul>
</nav>