<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <title>Simple HTML Page</title>
</head>
<body>
    <form action="/search" method="GET">
  <label>
    Image
    <input type="text" name="image" />
  </label>

  <label>
    Start-Date
    <input type="date" name="startDate" />
  </label>

  <label>
    End-Date
    <input type="date" name="endDate" />
  </label>

  <button type="submit">SEARCH</button>
</form>
    <h1>Galleria de imagenes</h1>
    <p>Añadir una nueva imagen</p>
    <form action="/addImage" method="POST" enctype="multipart/form-data">
        <label for="image">Selecciona una imagen:</label>
        <input type="file" id="image" name="image" accept="image/*" required>
        <button type="submit">Subir Imagen</button>
        <button type="delete">Eliminar Imagen</button>
    </form>
</html>