<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <title>Simple HTML Page</title>
</head>
<body>
    <h1>Galleria de imagenes</h1>
    <a href="http://localhost:8080/addImage">Añadir una nueva imagen</a>
    <p>Eliminar imagen</p>
</html>